PORT=3000

SA_PASSWORD=senha_do_sa_do_banco

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Deve ser uma string longa e aleatória.
JWT_SECRET=coloque_a_senha_do_jwt_aqui


# Tempo de expiração do token (formato do jsonwebtoken): '1h', '24h', '7d', '30d'
JWT_EXPIRES_IN=3h
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10



